/data
/checkpoints
/dgp_data
/go_metric.egg-info
/go_metric/lightning_logs
/go_metric/eval
/emb
/go_metric/models/__pycache__
/go_metric/__pycache__
/lightning_logs
/logs
/checkpoints_backup
/emb_backup
emb_knn_perf.png
/images
hamap.png
holdout_mf_perf.png
tsne_go_emb.png
tsne_legend.png
tsne_viz.png
/cache
hamap_flat.png
novel_mf_perf.png
novel_perf.png
out_dist_perf.png
/rev_images
term_perf_breakdown.png
/paper_result_predictions
/paper_result_predictions_backup
/go_metric/logs/